@charset "UTF-8";

body{
    background-color: rgb(201, 245, 201);
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    color: rgb(111, 146, 111);
    text-align: center;
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(43, 63, 43);
}

h2.basico{
    color: rgb(62, 139, 62);
}

h2.intermediario{
    color: rgb(174, 199, 66);
}

h2.avançado{
    color: rgb(165, 80, 80);
}