@charset "UTF-8";

body {
    background-color: rgb(228, 192, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

h1 {
    color: rgb(224, 174, 182);
    background-color: rgb(82, 47, 63);
}

h2 {
    color: rgb(85, 41, 48);
}

p {
    text-align: justify;
}